{% extends "layout.html" %}

{% block content %}

  <h3>Search</h3>
  <hr>

  <form method="GET" action="/wiki/search" class="row search">
    
    <div class="form-group">

      <label for="search-by" class="col-sm-1 col-md-1 control-label">Search By:</label>
      <select name="search-by" class="col-md-3 col.sm-2">
        <option value="name" disabled>Author Name</option>
        <option value="email" disabled>Author Email</option>
        <option value="title" disabled>Page Title</option>
        <option value="content" disabled>Content</option>
        <option value="tags">Tag</option>
      </select>

      <div class="col-sm-6 col-md-5">
        <input name="query" type="text" class="form-control"/>
      </div>

      <div class="col-sm-3 col-md-2">
        <button type="submit" class="btn btn-primary">submit</button>
      </div>
    </div>

  </form>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">  
      {% if results %}
        <h3>Results</h3>
        {% if results.length > 0 %}
          <ul class="list-unstyled">

          {% for page in results %}

              <li>{{ page | pageLink }} <br><small>({{page.date|date('n/j/y g:i a')}})</small>

                <ul>Tags:
                  {% if page.tags.length > 0 %}
                    {% for tag in page.tags %} {{tag}} {% endfor %}
                  {% else %}
                    <p>(This page has no tags)</p>
                  {% endif %}
                </ul>

              </li>
            {% endfor %}
            </ul>

        {% else %}
          <p>Sorry, your search didn't return any results.</p>
        {% endif %}

      {% endif %}
      </div>
    <div class="col-md-2"></div>
  </div>

{% endblock %}