{% extends "layout.html" %}

{% block content %}

  <h3>{{page.title}} <small> (<a href="{{page.route}}/similar">Similar</a>)</small></h3>
  <h4>by <a href="PLACEHOLDER-AUTHOR-URL">PLACEHOLDER AUTHOR NAME</a></h4>
  <hr/>
  <div>PLACEHOLDER AUTHOR NAME WITH LINK TO AUTHOR PAGE</div>
  <div class="page-body">{{page.content}}</div>
  <hr/>
  <div class="tags">
    <p>Tags:</p>
    {% if page.tags %}
      <ul>
        {% for tag in page.tags %}
        <li>{{tag|tagLink}}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>This page has no tags!</p>
    {% endif %}
    <a href="#" class="btn btn-info" id="edit-tags">&#10000;</a>
    <div id="tag-editor" class="row">
      <form method="POST" action="/wiki/{{page.urlTitle}}/tags">
        <div class="form-group">
          <div class="col-md-2 col-sm-2">
            <label for="tags" class="control-label">New Tags: <br><small>(comma-separated)</small></label>
          </div>

          <div class="col-md-3 col-sm-3">
            <input name="tags" type="text" class="form-control" value="{% if page.tags %}{% for tag in page.tags %} {{tag}}, {% endfor %}{% endif %}"/>
          </div>

          <div class="col-sm-3 col-md-2">
            <button type="submit" class="btn btn-primary">Add</button>
          </div>
        </div>
      </form>
    </div>

  </div>
  <hr>
  <a href="{{page.route}}/edit" class="btn btn-primary">edit this page</a>
  <a href="{{page.route}}/delete" class="btn btn-danger">delete this page</a>

<script>

  document.addEventListener("DOMContentLoaded", function(event) { 
    document.getElementById('edit-tags').addEventListener('click', function(event) {
      event.preventDefault();
      document.getElementById('tag-editor').style.display = 'block';
    });
    document.getElementById('edit-page').addEventListener('click', function(event) {
      event.preventDefault();
    });
  });

</script>

{% endblock %}