body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form.search { 
  margin-bottom: 60px;
}

select {
  max-width: 20%; 
}

#tag-editor {
  display: none;
}

.tags {
  margin-bottom: 40px;
}

.tags p {
  margin-top: 10px;
}