body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form.search { 
  margin-bottom: 60px;
}

select {
  max-width: 20%; 
}

#tag-editor {
  display: none;
}

.tags {
  margin-bottom: 40px;
}

.tags p {
  margin-top: 10px;
}

#edit-tags {
  font-size: 22px;
  font-weight: normal;
  padding: 2px;
  width:30px;
}

textarea[name=content] {
  height: 400px;
}

.form-control,
label[for=status],
{
  margin: 10px 0;
}